<%= form_with(model: orden) do |form| %>
  <% if orden.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

      <ul>
        <% orden.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="container-fluid" style="width: 90%;">
      <div class="row row-cols-6">
            <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
            Nombre producto
            </div>
            <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
            Codigo
            </div>
            <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
            Empresa
            </div>
            <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
            Precio 
            </div>
            <div>
            </div>
            <div>
            </div>
    <% Catalogo.all.each do |su|%>
  
      
     
      <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
            
       <%= su.nombre %>
     
   
       </div>
       <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
       
       
       <%= su.codigo %>
     
   
       </div>
       <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
       
       
       <%= su.empresa %>
     
       </div>
       <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
       
     
       
       <%= su.precio %>
       <% su.id %>
       </div>
       
       <div>
       <!--input style="background-color: #C4C4C4 ; border:0" type="number" name="supervisor[Teléfono]" id="supervisor_Teléfono"-->
       <input style="background-color: #C4C4C4 ; border:0;height:25px; width:80px "  type="number" name= %su.id% id= "<%=su.id%>" >
        </div>
        <div>
        <a href="/catalogos" class="btn btn-primary" style="background-color: #F79206; font-size: 22px; border: 0;">Agregar</a>
        </div>
     
       
     
     
     
     <% end%>
     </div>
  
</div>
<% @imp = Catalogo.find(1)%>
<%=@imp.id%>
<%=@imp.codigo%>


  <br>

  <div class="conteiner" align="center">
  
    <div>
    <a href="/catalogos" class="btn btn-primary" style="background-color: #F71406; font-size: 22px; border: 0;">Cancelar</a>
    
    
    </div>
  </div>
<% end %>
