<div id="<%= dom_id orden %>">
  <div class="container-fluid" style="width: 90%;">
    <div class="row row-cols-4">
      <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
        <%= orden.nombre %>
      </div>
      <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
        <%= orden.precio %>
      </div>
      <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
        <%= orden.cantidad %>
      </div>
      <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
        <%= orden.total %>
      </div>
    </div>
  </div>
</div>
