<div id="<%= dom_id rpedido %>">
  <p>
    <strong>Tiendita:</strong>
    <%= rpedido.tiendita %>
  </p>

  <p>
    <strong>Responsable:</strong>
    <%= rpedido.responsable %>
  </p>

  <p>
    <strong>Id producto:</strong>
    <%= rpedido.id_producto %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= rpedido.cantidad %>
  </p>

</div>
