<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<style>
  body {
    font-family: 'Comfortaa';font-size: 22px;
  }
</style>
<!--Inicio de la barra de navegacion-->
    <nav class="navbar" style="background-color: #1D3153;">
      <div class="container-fluid">
        
        <a class="navbar-brand" href="" >
        <label class="btn" style="padding:0px;border:0px">
        <img src="/assets/a-d9abbccf6ec068c782702faf5587c416d15fba6911666a57be0c9ccd3e2128c6.png" alt="" width="200" height="100" style="object-fit: cover;">
        <span style="display:none; ">
    <%= button_to "Destroy this rpedido", @rpedido, method: :delete %>
      
          
    </span>
    </label>
        </a>
        <a class="navbar-brand text-white" href="/login" align="right" style="font-size: 22px">CERRAR SESIÓN</a>
      </div>
    </nav>
<!--Fin de la barra de navegacion-->
<div>



</head>
<body>
<h1 align="center" style="margin-top: 78px"><b>Reporte Pedido</b></h1>

<div class="col-lg-4"  ><br>
        <lavel style="position:relative;left:50px">Nombre del punto de venta:</lavel>
          
        <lavel style="position:relative;left:50px"><%= rpedido.tiendita%></lavel>
          <br>
          <label for="validationCustom02" class="form-label" style="position:relative;left:50px"  >Nombre del responsable:</label>
          <lavel style="position:relative;left:50px"><%= rpedido.responsable%></lavel>
</div>

<br><br>
    <% b=0%>
    <div class="container-fluid" style="width: 90%;">
      <div class="row row-cols-4">
            <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
                Nombre producto
            </div>
            <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
                Precio unitario
            </div>
            <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
                Cantidad
            </div>
            <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
                Precio total
            </div>
            <%lost = rpedido.detallep%>
            <%lost.each do |deta| %>
              <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
                <%= deta.catalogo.nombre%>
              </div>
              <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
              <%= deta.catalogo.precio%>
              </div>
              <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
              <%= deta.cantidad%>
              </div>
              <% a= deta.catalogo.precio.to_i*deta.cantidad.to_i%>
              <% b=b+a%>
              <div style="padding: 10px; text-align: center; border: 1px #212529 solid;">
              <%= a%>
              </div>
            <%end%>
            
            
      </div>
    </div>
</body>

<div class="container-fluid"style="width: 90%;">
  <div class="row row-cols-4">
    <div class="col-9" style="text-align: center; border: 1px #212529 solid; grid-column: 1/6;">
      Precio total de los producto
    </div>
    <div style="text-align: center; border: 1px #212529 solid;">
    <%= b%>
    </div>
  </div>
</div>
<br>
<div class="conteiner" align="center">
<%session[:pedido]=rpedido.id %>

  <%= link_to "Agregar", agregap_path,:class => "btn btn-primary" ,:style=> "background-color: #F79206 ; font-size: 22px; border: 0;"   %>
  <br>
    <div><br>
    
    
    </div>
  </div>






















