<div id="<%= dom_id supervisor %>">
  <p>
    <strong>Nombre:</strong>
    <%= supervisor.Nombre %>
  </p>

  <p>
    <strong>Apellido paterno:</strong>
    <%= supervisor.Apellido_Paterno %>
  </p>

  <p>
    <strong>Apellido materno:</strong>
    <%= supervisor.Apellido_Materno %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= supervisor.Teléfono %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= supervisor.Mail %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= supervisor.Dirección %>
  </p>

</div>
