<div id="<%= dom_id catalogo %>">
  <p>
    <strong>Nombre:</strong>
    <%= catalogo.nombre %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= catalogo.codigo %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= catalogo.empresa %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= catalogo.precio %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= catalogo.descripcion %>
  </p>

</div>
