<head>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<style>
  body {
    font-family: 'Comfortaa';font-size: 22px;
  }
</style>

</head>

<body>



<h1 align="center" style="margin-top: 78px"><b>Registrar Nuevo Producto Para Catálogo De Empresa</b></h1>
<br><br>
<div class="conteiner" align="center">
<%= form_with(model: catalogo) do |form| %>
  <% if catalogo.errors.any? %>
    <div style="color: red">
     

      <ul>
      
      </ul>
    </div>
  <% end %>
  </div>
  <br><br>



<div class="container d-flex justify-content-center " align="center" >

  <div class="row d-flex align-self-center justify-content-center ">
    


      <div class="col-lg-6"  ><br>
          
  
           <label for="validationCustom01" class="form-label  " style="position:relative;left:-10px" >Nombre del producto</label>
           <br>
           <%= form.text_field :nombre ,:style=>"background-color: #C4C4C4 ; border:0" %>
           <div style="color: red">
          <% @catalogo.errors[:nombre].each do | msg| %>
            <p><%= msg %></p>
            <% end %>
            </div>
      </div>
      
      <div class="col-lg-6"  ><br>

  
      <label for="validationCustom03" class="form-label" style="position:relative;left:-15px" style: "display: block">Código del producto</label>
      <br>

      <%= form.number_field :codigo ,:style=>"background-color: #C4C4C4 ; border:0" %>
      <div style="color: red">
      
        <% @catalogo.errors[:codigo].each do | msg| %>
          <p><%= msg %></p>
          <% end %>
        </div>
    </div>
    
        <div class="col-lg-6"  ><br>

  
          <label for="validationCustom03" class="form-label" style="position:relative;left:-84px" style: "display: block">Empresa</label>
          <br>
  
          <%= form.text_field :empresa ,:style=>"background-color: #C4C4C4 ; border:0" %>
          <div style="color: red">
          
            <% @catalogo.errors[:empresa].each do | msg| %>
              <p><%= msg %></p>
              <% end %>
            </div>
        </div>
   
        <div class="col-lg-6"  ><br>

  
          <label for="validationCustom02" class="form-label" style="position:relative;left:-50px" style: "display: block" >Precio unitario</label>
          <br>
          <%= form.number_field :precio  ,:style=>"background-color: #C4C4C4 ; border:0" %>
          <div style="color: red">
          <% @catalogo.errors[:precio].each do | msg| %>
            <p><%= msg %></p>
            <% end %>
            </div>
          </div>
          
  
        <div class="col-lg-8"  ><br>
  
          <label for="validationCustom05" class="form-label" style="position:relative;left:+13px" style: "display: block">Descripción del producto</label>
          <br>
          <%= form.text_area :descripcion  ,:style=>"background-color: #C4C4C4 ; border:0" %>
          <div style="color: red">
          <% @catalogo.errors[:descripcion].each do | msg| %>
            <p><%= msg %></p>
            <% end %>
            </div>
          </div>
    </div>
</div>

<br><br>




<div class="conteiner" align="center">
  
  <div><br>
  <% if session[:userlog]==-1 %>
  <a href="/vendedors" class="btn btn-primary" style="background-color: #F71406; font-size: 22px; border: 0;">Cancelar</a>
  <% else %>
  <a href="/supervisors" class="btn btn-primary" style="background-color: #F71406; font-size: 22px; border: 0;">Cancelar</a>
  <% end %>
    <button class="btn btn-primary" type="submit" style="background-color: #F79206; font-size: 22px; border: 0;">Agregar</button>
    
    <div>
  

    </div>
   </div>
   <% end %>
   </div>

</div> 
<br>
</body>