<div id="<%= dom_id company %>">
  <p>
    <strong>Nombre:</strong>
    <%= company.nombre %>
  </p>

  <p>
    <strong>Nit:</strong>
    <%= company.nit %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= company.telefono %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= company.mail %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= company.direccion %>
  </p>

</div>
