<%= form_with(model: vendedor) do |form| %>
  <% if vendedor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vendedor.errors.count, "error(es)") %> que evito el guardado que esta en:</h2>

      <ul>
        <% @vendedor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Nombre, style: "display: block" %>
    <%= form.text_field :Nombre%>
    
  </div>

  <div>
    <%= form.label :Apellido_Paterno, style: "display: block" %>
    <%= form.text_field :Apellido_Paterno %>
  </div>

  <div>
    <%= form.label :Apellido_Materno, style: "display: block" %>
    <%= form.text_field :Apellido_Materno %>
  </div>

  <div>
    <%= form.label :Telefono, style: "display: block" %>
    <%= form.phone_field :Telefono%>
   
    <div>
    
    







  </div>

  <div>
    <%= form.label :Mail, style: "display: block" %>
    <%= form.text_field :Mail %>
  </div>
  
  </div>
    <%= form.label :Direccion, style: "display: block" %>
    <%= form.url_field :Direccion %>
    
    
  </div>

  <div>
    <%= form.label:imagen %>
    <br>
    <%= form.file_field:imagen %>    
  </div>
  <br>
  
  <div>
    <%= form.submit "enviar", :class => "btn btn-primary" %>
  </div>
  

<% end %>
