<head>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<style>
  body {
    font-family: 'Comfortaa';font-size: 22px;
  }
</style>

</head>
<body>



<h1 align="center"><b>REGISTRAR VENDEDOR</b></h1>
  <div class="conteiner" align="center">
<%= form_with(model: vendedor) do |form| %>
  <% if vendedor.errors.any? %>
    <div style="color: red">
      

      <ul>
        <% @vendedor.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="conteiner" align="center">
  <div>
  <label for="validationCustom01" class="form-label">Nombre</label>
  <br>
    <%= form.text_field :Nombre%>
    
  </div>

  <div>
  <label for="validationCustom02" class="form-label" style: "display: block" >Apellido Paterno</label>
  <br>
    <%= form.text_field :Apellido_Paterno %>
  </div>

  <div>

  <label for="validationCustom02" class="font-italic" >Apellido Materno</label>
  <br>
    <%= form.text_field :Apellido_Materno %>
  </div>

  <div>
  <label for="validationCustom03" class="form-label" >Telefono</label>

  <br>
    <%= form.phone_field :Telefono%>
   
    <div>

  <div>
  <label for="validationCustom02" class="form-label" >Mail</label>
  <br>
    <%= form.text_field :Mail %>
  </div>
  
  </div>
  <label for="validationCustom05" class="form-label" style: "display: block">Dirección</label>
  <br>
  <%= form.text_field :Direccion %>
  </div>
  
  <div>
  <label for="validationCustom05" class="form-label" style: "display: block">Imagen</label>
    <br>

    <%= form.file_field:perfil,:style=> "background-color: #F79206" %>   

     </div>
  <br>
  
  <div>
    <button class="btn btn-primary" type="submit" style="background-color: #F79206">Agregar Vendedor</button>
    <a href="/vendedors" class="btn btn-primary" style="background-color: #F79206">Cancelar</a>
    <div>
  

</div>
   </div>
   <% end %>
   </div>
   </body>

