<head>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<style>
  body {
    font-family: 'Comfortaa';font-size: 22px;
  }
</style>

</head>
<body>



<h1 align="center" style="margin-top: 78px"><b>Registrar Vendedor</b></h1>
<br><br>
  <div class="conteiner" align="center">
<%= form_with(model: vendedor) do |form| %>
  
</div>

<br><br>



<div class="container d-flex justify-content-center " align="center" >

  <div class="row d-flex align-self-center justify-content-center ">
    


      <div class="col-lg-4"  ><br>
          
  
           <label for="validationCustom01" class="form-label  " style="position:relative;left:-88px" >Nombre</label>
           <br>
           <%= form.text_field :Nombre ,:style=>"background-color: #C4C4C4 ; border:0" %>
           <div style="color: red">
          <% @vendedor.errors[:Nombre].each do | msg| %>
            <p><%= msg %></p>
          <% end %>
          </div>

           
           
      </div>
  
      <div class="col-lg-4"  ><br>
          <label for="validationCustom02" class="form-label" style="position:relative;left:-38px"  >Apellido Paterno</label>
          <br>
          <%= form.text_field :Apellido_Paterno ,:style=>"background-color: #C4C4C4 ; border:0" %>
          <div style="color: red">
          <% @vendedor.errors[:Apellido_Paterno].each do | msg| %>
            <p><%= msg %></p>
            <% end %>
            </div>
      </div>
    
        <div class="col-lg-4"  ><br>

          <label for="validationCustom03" class="font-label" style="position:relative;left:-33px;margin: 0px 0px 8px">Apellido Materno</label>
          
          <br>
          <%= form.text_field :Apellido_Materno ,:style=>"background-color: #C4C4C4 ; border:0" %>
          <div style="color: red">
          <% @vendedor.errors[:Apellido_Materno].each do | msg| %>
            <p><%= msg %></p>
            <% end %>
            </div>
        </div>
    
        

        <div class="col-lg-4"  ><br>

  
          <label for="validationCustom03" class="form-label" style="position:relative;left:-84px" style: "display: block">Teléfono</label>
          <br>
  
          <%= form.phone_field :Telefono ,:style=>"background-color: #C4C4C4 ; border:0" %>
          <div style="color: red">
          <% @vendedor.errors[:Telefono].each do | msg| %>
            <p><%= msg %></p>
            <% end %>
            <% @vendedor.errors[:Teléfono].each do | msg| %>
              <p><%= msg %></p>
              <% end %>
            </div>
        </div>
   
        <div class="col-lg-4"  ><br>

  
          <label for="validationCustom02" class="form-label" style="position:relative;left:-110px" style: "display: block" >Mail</label>
          <br>
          <%= form.text_field :Mail  ,:style=>"background-color: #C4C4C4 ; border:0" %>
          <div style="color: red">
          <% @vendedor.errors[:Mail].each do | msg| %>
            <p><%= msg %></p>
            <% end %>
            </div>
        </div>
  
        <div class="col-lg-4"  ><br>
  
          <label for="validationCustom05" class="form-label" style="position:relative;left:-81px" style: "display: block">Dirección</label>
          <br>
          <%= form.text_field :Direccion  ,:style=>"background-color: #C4C4C4 ; border:0",:placeholder => "https://goo.gl/maps/..."%>
          <div style="color: red">
          <% @vendedor.errors[:Dirección].each do | msg| %>
            <p><%= msg %></p>
            <% end %>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>




<div class="conteiner" align="center">
  
    <label class="btn btn-primary" type="submit" style="background-color: #F79206; border:0;font-size: 22px;">
    Seleccionar Imagen
    <span style="display:none; ">
      <%= form.file_field :imagen, id: "fileUploader"%>
      
          
    </span>
    </label>
    <div style="color: red">
    <% @vendedor.errors[:imagen].each do | msg| %>
      <p><%= msg %></p>
      <% end %>
      <div>

    
  
  <div><br>
    <a href="/vendedors" class="btn btn-primary" style="background-color: #F79206; font-size: 22px; border: 0;">Cancelar</a>
    <button class="btn btn-primary" type="submit" style="background-color: #F79206; font-size: 22px; border: 0;">Agregar Vendedor</button>
    
    
   </div>
   <% end %>
   </div>

</div> 
<br>
</body>

