<div id="<%= dom_id vendedor %>">
  <% if vendedor.imagen.attached? %>
    <%= link_to image_tag(vendedor.imagen.variant(resize:"200x200")),vendedor.imagen %>
  <%end %>

    <p>
    <strong>Nombre:</strong>
    <%= vendedor.Nombre %>
  </p>

  <p>
    <strong>Apellido Paterno:</strong>
    <%= vendedor.Apellido_Paterno %>
    
  </p>

  <p>
    <strong>Apellido Materno:</strong>
    <%= vendedor.Apellido_Materno %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= vendedor.Telefono %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= vendedor.Mail %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= vendedor.Direccion %>
  </p>



  </p>
  <figure class="figure">
    <%= image_tag vendedor.perfil.thumb.url, class: "figure-img img-fluid rounded"%>
      
    
  </figure>
  </p>

</div>
