<p style="color: green"><%= notice %></p>

<%= render @vendedor %>


<div>
  <%= link_to "Edit this vendedor", edit_vendedor_path(@vendedor) %> |
  <%= link_to "Back to vendedors", vendedors_path %>

  <%= button_to "Borrar Vendedor", @vendedor, method: :delete, data: { confirm: "Are you sure?" } %>
</div>
