<div id="<%= dom_id product %>">
  <p>
    <strong>Nombre:</strong>
    <%= product.nombre %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= product.codigo %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= product.empresa %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= product.precio %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= product.descripcion %>
  </p>

</div>
