<div id="<%= dom_id rventum %>">
  <p>
    <strong>Nombre:</strong>
    <%= rventum.Nombre %>
  </p>

  <p>
    <strong>Responsable:</strong>
    <%= rventum.Responsable %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= rventum.Telefono %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= rventum.Mail %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= rventum.Direccion %>
  </p>

</div>
